@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic");

@import "./modal/modal.scss";

html {
  font-family: Roboto;
  color: #1C1C1C;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  height: 50px;
  cursor: pointer;
  width: 220px;
  background: #F9C73B;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  color: #151515;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}